<div class="specificity">
  {{log this}}
  <document-tags type="Actor" name="system.actors" max="2" value=""></document-tags>
  <color-picker name="system.color"></color-picker>
  <file-picker name="system.icon" type="image"></file-picker>
  <hue-slider name="system.hue"></hue-slider>
  <string-tags></string-tags>
  {{formInput checkboxField type="checkboxes" name="source" value=checkboxValue}}
</div>